extends layout

block content
  h1= title
  form(action="/new-message", method="post") 
    label(for="title") Message Title: 
    input#title(type="text", name="title")
    textarea#messageText(name="messageText", cols="30", rows="10", placeholder="Your messge here...")
    button(type="submit") Post
  each message in messages 
    .message 
      if currentUser 
        each user in users
          if user.messages.includes(message._id)
            h4= user.fullName
      h4= message.title
        span.timestamp= message.timestamp
      p= message.text