extends layout

block content
  h1= title
  if currentUser
    form(action="/new-message", method="post") 
      .fields
        label(for="title") Message Title: 
        input#title(type="text", name="title", required)
        label(for="messageBody") Message Body: 
        textarea#messageBody(name="messageBody", cols="30", rows="10", required)
      button(type="submit") Post

  else 
    h2 Sign up or log in to post a message.
  each message in messages 
    .message 
      if currentUser 
        each user in users
          if user.messages.includes(message._id)
            h4= user.fullName
      h4= message.title
        span.timestamp= message.timestamp
      p= message.text